**/__pycache__/
**/*.pyc


nohup.out
**/.vscode/
.vscode/
**/.ipynb_checkpoints/
.DS_Store
!**/*.cpython-36.pycdocker

**/mysql_volume/

**/*.ipynb
**/*.zip
**/*.tar.*
**/*.tar
**/*.log


logs/
.notebooks/

model/*.bin
data/