**/__pycache__/
**/*.pyc


nohup.out
**/.vscode/
.vscode/
**/.ipynb_checkpoints/
.DS_Store
!**/*.cpython-36.pycdocker

**/mysql_volume/
**/*.bin

**/*.ipynb
**/*.zip
**/*.tar.*
**/*.tar
**/*.log
**/*.ndjson

logs/
.notebooks/

model/*.bin
data/

shared_data/